
<html>


<ul id="fileList"></ul>
<input id="filePassword" class="form-control" type="password" style="width:25%" placeholder="File Password">
<button id="filePasswordSubmit" class="btn btn-info" style="margin:1px" onclick="askFilelist()">Display File List</button>
<a id="AlertFilePasswordWrong" style="color:red">Room file password is incorrect!</a>


    <body>
        <form action="/upload" enctype="multipart/form-data" method="post">
        	<div class="btn-group">
            	<input type="file" name="file" class="btn btn-info">
            </div>
            <div class="btn-group">
            	<input hidden type="text" name="roomNumber" value= "<%=roomNumber%>">
            </div>
            	<input hidden type="text" name="userName" value= "<%=userName%>">
            	<input type="submit" value="Upload" class="btn btn-info"> 
  				<input type="submit" value="Cancel" class="btn btn-info">       	
        </form>
    </body>



<script>
    document.getElementById("AlertFilePasswordWrong").style.visibility = "hidden";
    function askFilelist(){
        sendMessage("askFilelist",{roomNumber:roomNumber,filePassword: document.getElementById("filePassword").value});
    }
</script>
</html>