
  <div class="container">
    <div class="masthead">
      
        
        <% if(logedIn=="yes"){%>
        <img src="images/logo.png" height="25%" width="25%">
        <input hidden id="userName" value=<%=userName%>>
        <script src="javascripts/readParams.js"></script>
        <!--<div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">-->
        <nav> 
          <ul  class="nav nav-pills  nav-justified" style="margin-bottom:2%">
            <li ><a href="dashboard">Enter a Room</a></li>
            <li><a href="profile">My Profile</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="logout">Log Off</a></li>


          </ul>
        </nav>
      
          <!--<li id= "fileLabel" onclick="clickActive('fileLabel')"><a href="#">Log Off</a></li>
        </ul>
      </nav>
          <ul class="nav navbar-nav">
            <li><a href="dashboard">DashBoard</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="profile">My Profile</a></li>
                  <li><a href="logout">Log Off</a></li>
              </ul>
            </li>            
            <li><a href="#">Contact Us</a></li>
          </ul>-->
        <%}
        else{%>
        <div id="navbar" class="navbar-collapse collapse">
          <img src="images/logo.png" height="25%" width="25%" style="margin-top:1%">
          <form class="navbar-form navbar-right" id="signIn" action="login" method="POST">
              <input type="email" placeholder="Email" class="form-control" name="userId">
              <input type="password" placeholder="Password" class="form-control" name="password">
              <button onclick="submitSignIn()" class="btn btn-info">Sign in</button>
            </div>
          </form>
        </div><!--/.navbar-collapse -->
        <%}%>
        <script>
          function submitSignIn(){
            document.getElementById("signIn").submit();
          }
        </script>
      </div>
    </div>
